
  <% if Admin::ProductsController.searchable? %>
  <ul class='search_list'>    	
    <li class='not_a_link'>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_products_path
                  } %>
    </li>
  </ul>
  <% end %>

<ul class='collapsible_menu'>
  <li class='not_a_link'>
    <%= link_to 'Categories', '#' %>
  </li>
  <% Category.all.each do |category| %>
	  <li>
	    <%= link_to category.name, admin_category_products_path(category) %>
	  </li>
  <% end %>
</ul>	

<ul>
  <li>
    <%= link_to t('.create_new'), new_admin_product_path,
                 :class => "add_icon" %>
 </li>
<% if !params[:edit_prices].present? %> 
  <% if !searching? and Admin::ProductsController.sortable? and Product.count > 1 %>
    <li class='not_a_link'>
      <%= link_to t('.reorder', :what => "Products"),
                   admin_products_path,
                   :id => "reorder_action",
                   :class => "reorder_icon" %>
  
      <%= link_to t('.reorder_done', :what => "Products"),
                   admin_products_path,
                   :id => "reorder_action_done",
                   :style => "display: none;",
                   :class => "reorder_icon" %>
    </li>
  <% end %>
  <li class='not_a_link'>
    <%= link_to("Edit Product Prices", admin_products_path(:edit_prices => true)) %>
  </li>
<% end %>  
</ul>