<% content_for :body_content_title do %>
  <%= @product.name %>
<% end %>

<% content_for :body_content_left do %>
    <div class="pod threequarter product_wider alpha">
		<div class="corner"><img src="/images/corner.png" /></div>
		<div class="image"><%= image_fu(@product.image, "400x400#c") %></div>
		<hr>
		<div class="productname"><%= raw @product.name %></div>	
		<p><i><%= raw @product.summary %></i></p>
		Price: <%= raw rands(@product.price) %>		
		<div class="add_to_cart"><p><%= link_to(image_tag("/images/cart.png"), add_to_cart_path(@product)) %></p></div>
	</div>

	<% if @tagged_products.any? %>
		<h2>Customers who bought this also bought...</h2>
		<% @tagged_products.each do |product| %>
			<% unless product.id == @product.id %>
				<div class="pod quarter product omega">
					<div class="corner"><img src="/images/corner.png" /></div>
					<%= link_to(image_fu(product.image, "200x200#c"), product_path(product)) %>
					<hr>
					<div class="productname"><%= raw product.name %></div>	
					<p><i><%= raw product.description %></i></p>
					<div class="add_to_cart"><p><%= link_to "Details", product_path(product) %> | <%= link_to(image_tag("/images/cart.png"), add_to_cart_path(product)) %></p></div>
				</div>
			<% end %>
	    <% end %>
	<% end %>
<% end %>



<%= render :partial => "/shared/content_page" %>
